:root {
  --primary-color: #4b0082;
  --primary-accent-color: #8a2be2;
  --surface-color: #0d0d2f;
  --background-color: #000;
  --font-color: #f0f0ff;

  --aside-width: 300px;
  --gap: 10px;
  --gap2: 20px;

  --font-family: "Luminari", fantasy;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: var(--font-family);
  font-size: 100%;
  color: var(--font-color);
  background-color: var(--background-color);
}

button {
  cursor: pointer;
}

#app {
  width: 100vw;
  height: 100vh;
}
